<footer>
    <h3>Spektral Gaming &copy; 2024 - Braxton Medeiros</h3>
    <div class="social">
        <a href="https://discord.gg/vUtPmQS
        " target="_blank">
            <img src="../images/Discord.png" alt="discord icon" id="discord">
        </a>
        <a href="https://twitter.com/SaisGaming" target="_blank">
            <img src="../images/twitter.png" alt="twitter icon">
        </a>
        <a href="https://www.instagram.com/spektralslc/?hl=en" target="_blank">
            <img src="../images/instagram.png" alt="instagram icon">
        </a>
    </div>
</footer>